:root {
  --mainBlack: #171717;
  --mainGrey: #ededed;
  --mainRed: #ff5151;
  --mainPurple: #9818d6;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  overflow-x: hidden;
  z-index: 0;
}

.homePage {
  background-color: var(--mainBlack) !important;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.homePage.animate-bg-white {
  background-color: transparent !important;
}

.headerTitle,
.headerText {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.headerTitle.animate-bg-white,
.headerText.animate-bg-white {
  color: var(--mainBlack) !important;
}

nav {
  z-index: 2 !important;
}
